.container{
    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
    background-color: lightblue;
    color: black;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
    gap: 20px;
}
.container > div{
    border: solid black 5px;
    background-color:rgb(0, 191, 255) ;
}
.nav{
    grid-area:1/1/2/4;
}
nav{
    background-color: rgb(0, 139, 160);
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #24f7ec;    
}
nav ul li{
    padding: 10px;
    
}
.logo{
    border: none;
    padding: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.logo img:first-child{

    height: 150px;
    width: 750px;
    
    border: solid black 5px;
}
.logo img:last-child{
    border: solid black 5px;
}

.btn-gradient {
    margin-left: 10px;
    margin-top: 25%;
    width: 200px;
    
    height: 40px;
    
    border: none;
    
    border-radius: 10px;
    
    color: #fff;
    
    animation: c 53s linear infinite;
    
    background: linear-gradient(
    
    121.19deg,
    
    rgba(133, 239, 49, 0) 25.73%,
    
    hsla(0, 0%, 100%, 0.3) 45.27%,
    
    rgba(133, 239, 49, 0) 62.27% ), #24f7ec;
    
    transition: background-color 0.5s ease;
    
    }
    
    .btn-gradient:hover {
    
    animation: c 53s linear infinite;
    
    background: linear-gradient(
    
    121.19deg,
    
    rgba(133, 239, 49, 0) 25.73%,
    
    hsla(0, 0%, 100%, 0.3) 45.27%,
    
    rgba(133, 239, 49, 0) 62.27% ), rgb(0, 139, 160);
    
    }
    
    @keyframes c {
    
    0% {
    
    background-position: -5000px 0;
    
    }
    
    to {
    
    background-position: 5000px 0;
    
    }
    
    }