<head>
    <link rel="stylesheet" href="./static/certificate.css">
</head>
<h1 id="cert-title">
    Certificate of Proficiency
  </h1>
  <br><br><br><br>
  
  <p class="smaller" id="cert-declaration">
    THIS IS TO CERTIFY THAT
  </p>
  
  <h1 id="cert-holder">
    {{name}}
  </h1>
  
  <p class="smaller" id='cert-completed-line'>
    has successfully completed the {{coursename}}
  </p>
  
  <h2 id="cert-course">
    Course in Question
  </h2>
  
  <div id="cert-desc">
    <p class="smaller" id='cert-details'>
      which includes the knowledge of English for Technical Conversations, Applied Mathematics, General Robotics Science, Basic Computing, Web & Mobile Development and Basic User Interface Design.
    </p>
  </div>
  
  <br>
  <p id="cert-from" class="smaller">
    &nbsp; from www.companywebsite.com
  </p>
  
  <br>
  <p class="smaller" id='cert-issued'>
   <b>Issued on:</b> {{date}}.
  </p>
  
  <div id="cert-footer">
    <div id="cert-issued-by">
      <img id="cert-stamp" src="https://i7.pngguru.com/preview/585/794/452/paper-rubber-stamp-postage-stamps-company-seal-seal-thumbnail.jpg">
      <hr>
      <p>Issued by<br>THE COMPANY S.L.</p>
    </div>
    <div id="cert-ceo-design">
      <img id="cert-ceo-sign" src="https://i7.pngguru.com/preview/585/794/452/paper-rubber-stamp-postage-stamps-company-seal-seal-thumbnail.jpg">
      <hr>
      <p>Company Ceo<br>CEO of The Company</p>
    </div>
  </div>
  
  <div id="cert-verify">
      Verify at companywebsite.ai/verify/XYZ12ER56129F. <br> 
      Company has confirmed the participation of this individual in the course.
    </div>