<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form to get a certificate</title>
</head>
<body>
    <form action="/form_cert" method="post">
    <div class="firstname">
        <h2>firstname</h2>
        <input type="text" name="fname" id="">
    </div>
    <div class="lastname">
        <h2>lastname</h2>
        <input type="text" name="lname" id="">
    </div>
    <div class="course">
        <h2>course name</h2>
        <select name="cname" id="">
            <option value="HTML">HTML</option>
            <option value="Python">Python</option>
            
        </select>
        
    </div>
    <div class="button">
        <button type="submit">
            submit
        </button>
    </div>
    </form>
</body>
</html>